:root {
    /* colors */
    --main-background-color: #0d0d0d;
    --code-background-color: #242424;
    --main-text-color: #d0d0d0;
    --cards-background-color: #e0e0e0;
    --cards-text-color: #0d0d0d;
    --cards-hover-background-color: #3c9efc;
    --cards-hover-text-color: #ffffff;

    /* borders */
    --table-border: 1px solid #242424;

    /* widths */
    --card-width: 240px;
    --content-width: 720px;
}
body {
    background: var(--main-background-color);
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--main-text-color);
    font-size: 18px;
    margin: 0;
    padding: 0 0 2em 0;
}
code[class*=language-], pre[class*=language-] {
    font-size: 14px;
    font-family: 'JetBrains Mono',Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-variant-ligatures: none;
    background-color: var(--code-background-color);
}
.token.function {
    color: #ffa267;
}
.token.keyword  {
    color: #6caaff;
}
a, a:visited {
    color: #d0d0d0;
    text-underline-offset: 4px;
}
.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    background: #171717;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    padding: 1em 0 1.5em 0;
    border-bottom: black solid 1px;
}
.logo {
    flex-grow: 0;
    width: 200px;
}
div.powered {
    margin-top: 2em;
    text-align: center;
}
img.powered {
    width: 140px;
}
.bld-logo {
    flex-grow: 0;
    width: 96px;
}
.pitch {
    flex-grow: 0;
    margin: 1em 0 6px 2em;
    font-size: 22px;
    line-height: 120%;
    font-style: italic;
    text-justify: auto;
    white-space: nowrap;
}
.caption {
    color: #eeeeee;
    font-weight: 300;
}
.content {
    margin: 1em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.content div {
    min-width: var(--content-width);
    flex-grow: 1;
}
.content h1 {
    width: var(--content-width);
    margin: 1em 0 0 0;
    color: #f1f1f1;
    font-size: 24px;
}
.content p {
    width: var(--content-width);
    margin: 1em 0 0 0;
}
.users {
    display: grid;
    width: var(--content-width);
    gap: 2em 3em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "moog uwyn dynamod"
    "dataswift dataswift erik";
    justify-items: center;
}
.users a {
    width: 100%;
}
.users img {
    width: 100%;
    opacity: 0.5;
    border: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
}
.users a:nth-child(1) {
    grid-area: moog;
}
.users a:nth-child(2) {
    grid-area: uwyn;
}
.users a:nth-child(3) {
    grid-area: dynamod;
}
.users a:nth-child(5) {
    grid-area: erik;
}
.users a:nth-child(4) {
    grid-area: dataswift;
    width: 100%;
}
.users a img:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}
.links {
    font-style: italic;
    text-align: center;
    color: #aaa;
}
.links a, .links a:visited {
    color: #6caaff;
}
.features {
    text-align: center;
}
p, ul {
    margin: 0 auto;
}
.content ul {
    width: var(--content-width);
    display: inline-block;
    text-align: left;
    margin: 1em auto 0 auto;
}
.features ul {
    width: auto;
    margin: 0 auto;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1em;
}
.card {
    font-family: sans-serif;
    background: var(--cards-background-color);
    color: var(--cards-text-color) !important;
    border-radius: 5px;
    font-weight: bold;
    padding: 1em;
    place-self: center;
    text-decoration: none;
    width: var(--card-width);
    align-self: center;
    text-align: center;
}
.bld-matrix {
    margin-top: 1em;
    width: var(--content-width);
    border: var(--table-border);
    border-collapse: collapse;
    background-color: #111
}
.bld-matrix th {
    padding: 0.5em;
}
.bld-matrix td {
    width: 20%;
    text-align: center;
    border: var(--table-border);
    padding: 0.5em;
}
.bld-matrix td:first-child {
    text-align: left;
}
@media (hover: hover) {
    .card:hover {
        background: var(--cards-hover-background-color);
        color: var(--cards-hover-text-color) !important;
    }
}

@media screen and (max-width: 840px) {
    :root {
        --card-width: 220px;
        --content-width: 580px;
    }
    body {
        font-size: 16px;
    }
    code[class*=language-], pre[class*=language-] {
        font-size: 12px;
    }
    .logo {
        width: 150px;
    }
    .pitch {
        font-size: 18px;
    }
    .content h1 {
        font-size: 21px;
    }
}

@media screen and (max-width: 640px) {
    :root {
        --card-width: 180px;
        --content-width: auto;
    }
    .header {
        flex-direction: column;
        align-items: baseline;
        padding-left: 3em;
        padding-right: 3em;
        width: auto;
    }
    .logo {
        flex-grow: 0;
        width: 150px;
    }
    .pitch {
        margin: 0.5em 2em 0 0;
        font-size: 18px;
    }
    .content {
        flex-direction: column;
        align-items: stretch;
    }
    .content div {
        flex-grow: 1;
    }
}

@media screen and (max-width: 380px) {
    :root {
        --card-width: 160px;
    }
    #fork-me {
        display: none;
    }
    .header {
        padding-left: 2em;
        padding-right: 2em;
    }
    .logo {
        width: 120px;
    }
    .pitch {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        width: 100px;
    }
    .pitch {
        font-size: 14px;
    }
}
